---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/sources/1?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"1"},[{"id":"1","lastupdated":"2019-10-23","name":"Doing
      Business","code":"DBS","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
