---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/regions?format=json&page=1&per_page=10
    method: GET
  response:
    body: '[{"page":"1","pages":"5","per_page":"10","total":"48"},[{"id":"","code":"AFR","iso2code":"A9","name":"Africa"},{"id":"","code":"ANR","iso2code":"L5","name":"Andean
      Region"},{"id":"","code":"ARB","iso2code":"1A","name":"Arab World"},{"id":"","code":"CAA","iso2code":"C9","name":"Sub-Saharan
      Africa (IFC classification)"},{"id":"","code":"CEA","iso2code":"C4","name":"East
      Asia and the Pacific (IFC classification)"},{"id":"","code":"CEB","iso2code":"B8","name":"Central
      Europe and the Baltics"},{"id":"","code":"CEU","iso2code":"C5","name":"Europe
      and Central Asia (IFC classification)"},{"id":"","code":"CLA","iso2code":"C6","name":"Latin
      America and the Caribbean (IFC classification)"},{"id":"","code":"CME","iso2code":"C7","name":"Middle
      East and North Africa (IFC classification)"},{"id":"","code":"CSA","iso2code":"C8","name":"South
      Asia (IFC classification)"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
