---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/lendingTypes?format=json&page=1&per_page=10
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"10","total":"4"},[{"id":"IBD","iso2code":"XF","value":"IBRD"},{"id":"IDB","iso2code":"XH","value":"Blend"},{"id":"IDX","iso2code":"XI","value":"IDA"},{"id":"LNX","iso2code":"XX","value":"Not
      classified"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
