---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/sources?format=json&page=1&per_page=10
    method: GET
  response:
    body: '[{"page":"1","pages":"6","per_page":"10","total":"59"},[{"id":"1","lastupdated":"2019-10-23","name":"Doing
      Business","code":"DBS","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"11","lastupdated":"2013-02-22","name":"Africa
      Development Indicators","code":"ADI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"12","lastupdated":"2020-04-02","name":"Education
      Statistics","code":"EDS","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"30","lastupdated":"2016-03-31","name":"Exporter
      Dynamics Database – Indicators at Country-Year Level","code":"ED1",[...]
