---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics?format=json&page=1&per_page=10
    method: GET
  response:
    body: '[{"page":1,"pages":3,"per_page":"10","total":21},[{"id":"1","value":"Agriculture
      & Rural Development","sourceNote":"For the 70 percent of the world''s poor who
      live in rural areas, agriculture is the main source of income and employment.
      But depletion and degradation of land and water pose serious challenges to producing
      enough food and other agricultural products to sustain livelihoods here and
      meet the needs of urban populations. Data presented here include measures of
      agricultural inputs, outputs, and productivity compiled by the UN''s Food and
      Agriculture Organization.[...]
