---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/incomeLevels?format=json&page=1&per_page=10
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"10","total":"7"},[{"id":"HIC","iso2code":"XD","value":"High
      income"},{"id":"INX","iso2code":"XY","value":"Not classified"},{"id":"LIC","iso2code":"XM","value":"Low
      income"},{"id":"LMC","iso2code":"XN","value":"Lower middle income"},{"id":"LMY","iso2code":"XO","value":"Low
      & middle income"},{"id":"MIC","iso2code":"XP","value":"Middle income"},{"id":"UMC","iso2code":"XT","value":"Upper
      middle income"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
