---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/sources?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"30","per_page":"2","total":"59"},[{"id":"11","lastupdated":"2013-02-22","name":"Africa
      Development Indicators","code":"ADI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"36","lastupdated":"2020-02-20","name":"Statistical
      Capacity Indicators","code":"BBS","description":"","url":"","dataavailability":"Y","metadataavailability":"","concepts":"3"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
