---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/JPN;USA/indicators/NY.GDP.MKTP.CD?date=2018%3A2019&format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":2,"per_page":2,"total":4,"sourceid":"2","lastupdated":"2020-12-16"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2019","value":5081769542379.77,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2018","value":4954806619995.19,"unit":"","obs_status":"","decimal":0}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 23 Jan 2021 08:20:59 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/ABCDEFG;HIJKLM/indicators/NY.GDP.MKTP.CD?date=2018%3A2019&format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 23 Jan 2021 08:52:06 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/JPN;USA/indicators/INVALID.INDICATOR.ID?date=2018%3A2019&format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 23 Jan 2021 08:57:27 GMT
    status: 200 OK
    code: 200
    duration: ""
