---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics/1?format=json
    method: GET
  response:
    body: '[{"page":1,"pages":1,"per_page":"50","total":1},[{"id":"1","value":"Agriculture
      & Rural Development","sourceNote":"For the 70 percent of the world''s poor who
      live in rural areas, agriculture is the main source of income and employment.
      But depletion and degradation of land and water pose serious challenges to producing
      enough food and other agricultural products to sustain livelihoods here and
      meet the needs of urban populations. Data presented here include measures of
      agricultural inputs, outputs, and productivity compiled by the UN''s Food and
      Agriculture Organization."}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 02:51:53 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics/invalid_topic_id?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 14:29:34 GMT
    status: 200 OK
    code: 200
    duration: ""
