---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/sources/2?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"1"},[{"id":"2","lastupdated":"2020-12-16","name":"World
      Development Indicators","code":"WDI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:54 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/sources/invalid_source_id?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:54 GMT
    status: 200 OK
    code: 200
    duration: ""
