---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":149,"per_page":"2","total":297},[{"id":"ABW","iso2Code":"AW","name":"Aruba","region":{"id":"LCN","iso2code":"ZJ","value":"Latin
      America & Caribbean "},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Oranjestad","longitude":"-70.0167","latitude":"12.5167"},{"id":"AFG","iso2Code":"AF","name":"Afghanistan","region":{"id":"SAS","iso2code":"8S","value":"South
      Asia"},"adminregion":{"id":"SAS","iso2code":"8S","value":"South Asia"},"incomeLevel":{"id":"LIC","iso2code":"XM","value":"Low
      income"},"lendingType":{"id":"IDX","iso2code":"XI","value":"IDA"},"capitalCity":"Kabul","longitude":"69.1761","latitude":"34.5228"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:31 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&page=1&per_page=2&region=EAS
    method: GET
  response:
    body: '[{"page":1,"pages":19,"per_page":"2","total":38},[{"id":"ASM","iso2Code":"AS","name":"American
      Samoa","region":{"id":"EAS","iso2code":"Z4","value":"East Asia & Pacific"},"adminregion":{"id":"EAP","iso2code":"4E","value":"East
      Asia & Pacific (excluding high income)"},"incomeLevel":{"id":"UMC","iso2code":"XT","value":"Upper
      middle income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Pago
      Pago","longitude":"-170.691","latitude":"-14.2846"},{"id":"AUS","iso2Code":"AU","name":"Australia","region":{"id":"EAS","iso2code":"Z4","value":"East
      Asia & Pacific"},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Canberra","longitude":"149.129","latitude":"-35.282"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:32 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&incomelevel=HIC&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":42,"per_page":"2","total":83},[{"id":"ABW","iso2Code":"AW","name":"Aruba","region":{"id":"LCN","iso2code":"ZJ","value":"Latin
      America & Caribbean "},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Oranjestad","longitude":"-70.0167","latitude":"12.5167"},{"id":"AND","iso2Code":"AD","name":"Andorra","region":{"id":"ECS","iso2code":"Z7","value":"Europe
      & Central Asia"},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Andorra
      la Vella","longitude":"1.5218","latitude":"42.5075"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:33 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&lendingtype=LNX&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":37,"per_page":"2","total":74},[{"id":"ABW","iso2Code":"AW","name":"Aruba","region":{"id":"LCN","iso2code":"ZJ","value":"Latin
      America & Caribbean "},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Oranjestad","longitude":"-70.0167","latitude":"12.5167"},{"id":"AND","iso2Code":"AD","name":"Andorra","region":{"id":"ECS","iso2code":"Z7","value":"Europe
      & Central Asia"},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Andorra
      la Vella","longitude":"1.5218","latitude":"42.5075"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:33 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&incomelevel=HIC&lendingtype=LNX&page=1&per_page=2&region=EAS
    method: GET
  response:
    body: '[{"page":1,"pages":7,"per_page":"2","total":13},[{"id":"AUS","iso2Code":"AU","name":"Australia","region":{"id":"EAS","iso2code":"Z4","value":"East
      Asia & Pacific"},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Canberra","longitude":"149.129","latitude":"-35.282"},{"id":"BRN","iso2Code":"BN","name":"Brunei
      Darussalam","region":{"id":"EAS","iso2code":"Z4","value":"East Asia & Pacific"},"adminregion":{"id":"","iso2code":"","value":""},"incomeLevel":{"id":"HIC","iso2code":"XD","value":"High
      income"},"lendingType":{"id":"LNX","iso2code":"XX","value":"Not classified"},"capitalCity":"Bandar
      Seri Begawan","longitude":"114.946","latitude":"4.94199"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:35 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&region=invalid_region_id
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:35 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&incomelevel=invalid_income_level_id
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:35 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries?format=json&lendingtype=invalid_lending_type_id
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:35 GMT
    status: 200 OK
    code: 200
    duration: ""
