---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?format=json&source=2
    method: GET
  response:
    body: '[{"page":1,"pages":645,"per_page":50,"total":32208,"sourceid":null,"lastupdated":"2020-12-16"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2020","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current U[...]
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?date=2018%3A2019&format=json&page=1&per_page=2&source=2
    method: GET
  response:
    body: '[{"page":1,"pages":528,"per_page":2,"total":1056,"sourceid":null,"lastupdated":"2020-12-16"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:47 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/all/indicators/INVALID.INDICATOR.ID;SP.POP.TOTL?format=json&source=2
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"},{"id":"120","key":"Invalid value","value":"The provided
      parameter value is not valid"},{"id":"120","key":"Invalid value","value":"The
      provided parameter value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:47 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/countries/all/indicators/INVALID.INDICATOR.ID;SP.POP.TOTL?format=json&source=invalid_source_id
    method: GET
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\r\n\x3C\x21\x44\x4F\x43\x54\x59\x50\x45\x20\x68\x74\x6D\x6C\x20\x50\x55\x42\x4C\x49\x43\x20\"\x2D\x2F\x2F\x57\x33\x43\x2F\x2F\x4[...]
