---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/regions?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"42"},[{"id":"","code":"AFR","iso2code":"A9","name":"Africa"},{"id":"","code":"ARB","iso2code":"1A","name":"Arab
      World"},{"id":"","code":"CAA","iso2code":"C9","name":"Sub-Saharan Africa (IFC
      classification)"},{"id":"","code":"CEA","iso2code":"C4","name":"East Asia and
      the Pacific (IFC classification)"},{"id":"","code":"CEB","iso2code":"B8","name":"Central
      Europe and the Baltics"},{"id":"","code":"CEU","iso2code":"C5","name":"Europe
      and Central Asia (IFC classification)"},{"id":"","code":"CLA","iso2code":"C6","name":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/regions?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"21","per_page":"2","total":"42"},[{"id":"","code":"AFR","iso2code":"A9","name":"Africa"},{"id":"","code":"ARB","iso2code":"1A","name":"Arab
      World"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 14:36:37 GMT
    status: 200 OK
    code: 200
    duration: ""
