---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/regions?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"21","per_page":"2","total":"42"},[{"id":"","code":"AFR","iso2code":"A9","name":"Africa"},{"id":"","code":"ARB","iso2code":"1A","name":"Arab
      World"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 04:35:13 GMT
    status: 200 OK
    code: 200
    duration: ""
