---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/languages/ja?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"1"},[{"code":"ja","name":"Japanese
      ","nativeForm":"日本語"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 02:51:53 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/languages/ABCDEFG?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"150","key":"Language is not yet supported in the API","value":"Response
      requested in an unsupported language."}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 04:35:13 GMT
    status: 200 OK
    code: 200
    duration: ""
