---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?format=json
    method: GET
  response:
    body: '[{"page":1,"pages":323,"per_page":50,"total":16104,"sourceid":"2","lastupdated":"2021-02-17"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2020","value":null,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current U[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?date=2018%3A2019&format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":264,"per_page":2,"total":528,"sourceid":"2","lastupdated":"2021-02-17"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:37 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?format=json&frequency=Y&mrv=1&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":132,"per_page":2,"total":264,"sourceid":"2","lastupdated":"2021-02-17"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"S3","value":"Caribbean small states"},"countryiso3code":"CSS","date":"2019","value":77721714917.8506,"unit":"","obs_status":"","decimal":0}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:37 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/INVALID.INDICATOR.ID?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:37 GMT
    status: 200 OK
    code: 200
    duration: ""
