---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/incomeLevels?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"4","per_page":"2","total":"7"},[{"id":"HIC","iso2code":"XD","value":"High
      income"},{"id":"INX","iso2code":"XY","value":"Not classified"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:40 GMT
    status: 200 OK
    code: 200
    duration: ""
