---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/indicators?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":8675,"per_page":"2","total":17349},[{"id":"1.0.HCount.1.90usd","name":"Poverty
      Headcount ($1.90 a day)","unit":"","source":{"id":"37","value":"LAC Equity Lab"},"sourceNote":"The
      poverty headcount index measures the proportion of the population with daily
      per capita income (in 2011 PPP) below the poverty line.","sourceOrganization":"LAC
      Equity Lab tabulations of SEDLAC (CEDLAS and the World Bank).","topics":[{"id":"11","value":"Poverty
      "}]},{"id":"1.0.HCount.2.5usd","name":"Poverty Headcount ($2.50 a day)","unit":"","source":{"id":"37","value":"LAC
      Equity Lab"},"sourceNote":"The poverty headcount index measures the proportion
      of the population with daily per capita income (in 2005 PPP) below the poverty
      line.","sourceOrganization":"LAC Equity Lab tabulations of SEDLAC (CEDLAS and
      the World Bank).","topics":[{"id":"11","value":"Poverty "}]}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
