---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/lendingTypes?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"4"},[{"id":"IBD","iso2code":"XF","value":"IBRD"},{"id":"IDB","iso2code":"XH","value":"Blend"},{"id":"IDX","iso2code":"XI","value":"IDA"},{"id":"LNX","iso2code":"XX","value":"Not
      classified"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 14:36:36 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/lendingTypes?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"2","per_page":"2","total":"4"},[{"id":"IBD","iso2code":"XF","value":"IBRD"},{"id":"IDB","iso2code":"XH","value":"Blend"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 14:36:36 GMT
    status: 200 OK
    code: 200
    duration: ""
