---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/languages/ja?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"1"},[{"code":"ja","name":"Japanese
      ","nativeForm":"日本語"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:46 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/languages/invalid_language_code?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"150","key":"Language is not yet supported in the API","value":"Response
      requested in an unsupported language."}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Feb 2021 05:13:46 GMT
    status: 200 OK
    code: 200
    duration: ""
