---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?footnote=y&format=json
    method: GET
  response:
    body: '[{"page":1,"pages":323,"per_page":50,"total":16104,"sourceid":"2","sourcename":"World
      Development Indicators","lastupdated":"2021-05-25"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2020","value":null,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?date=2018%3A2019&footnote=y&format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":264,"per_page":2,"total":528,"sourceid":"2","sourcename":"World
      Development Indicators","lastupdated":"2021-05-25"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2019","value":2817414584665.11,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"1A","value":"Arab World"},"countryiso3code":"ARB","date":"2018","value":2771384097904.53,"unit":"","obs_status":"","decimal":0,"footnote":""}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Jun 2021 02:49:06 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/all/indicators/INVALID.INDICATOR.ID?footnote=y&format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Jun 2021 02:49:06 GMT
    status: 200 OK
    code: 200
    duration: ""
