---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics/1/indicators?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":25,"per_page":"2","total":49},[{"id":"AG.AGR.TRAC.NO","name":"Agricultural
      machinery, tractors","unit":"","source":{"id":"2","value":"World Development
      Indicators"},"sourceNote":"Agricultural machinery refers to the number of wheel
      and crawler tractors (excluding garden tractors) in use in agriculture at the
      end of the calendar year specified or during the first quarter of the following
      year.","sourceOrganization":"Food and Agriculture Organization, electronic files
      and web site.","topics":[{"id":"1","value":"Agriculture & Rural Development  "}]},{"id":"AG.CON.FERT.PT.ZS","name":"Fertilizer
      consumption (% of fertilizer production)","unit":"","source":{"id":"2","value":"World
      Development Indicators"},"sourceNote":"Fertilizer consumption measures the quantity
      of plant nutrients used per unit of arable land. Fertilizer products cover nitrogenous,
      potash, and phosphate fertilizers (including ground rock phosphate). Traditional
      nutrients--animal and plant manures--are not included. For the purpose of data
      dissemination, FAO has adopted the concept of a calendar year (January to December).
      Some countries compile fertilizer data on a calendar year basis, while others
      are on a split-year basis.","sourceOrganization":"Food and Agriculture Organization,
      electronic files and web site.","topics":[{"id":"1","value":"Agriculture & Rural
      Development  "}]}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:43 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics/invalid_topic_id/indicators?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:43 GMT
    status: 200 OK
    code: 200
    duration: ""
