---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/languages?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"12","per_page":"2","total":"23"},[{"code":"ar","name":"Arabic","nativeForm":"عربي"},{"code":"bg","name":"Bulgarian
      ","nativeForm":"Български"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 01:45:50 GMT
    status: 200 OK
    code: 200
    duration: ""
