---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/sources?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"2","per_page":"50","total":"63"},[{"id":"1","lastupdated":"2019-10-23","name":"Doing
      Business","code":"DBS","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"6","lastupdated":"2021-01-21","name":"International
      Debt Statistics","code":"IDS","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"4"},{"id":"11","lastupdated":"2013-02-22","name":"Africa
      Development Indicators","code":"ADI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"12","lastupdated":"2020-12-20","name":"Education
      Statistics","code":"EDS","description":"","url":"","dataav[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/sources?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"32","per_page":"2","total":"63"},[{"id":"11","lastupdated":"2013-02-22","name":"Africa
      Development Indicators","code":"ADI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"},{"id":"36","lastupdated":"2020-08-19","name":"Statistical
      Capacity Indicators","code":"BBS","description":"","url":"","dataavailability":"Y","metadataavailability":"","concepts":"3"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Jan 2021 14:36:38 GMT
    status: 200 OK
    code: 200
    duration: ""
