---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/lendingTypes?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":"1","pages":"2","per_page":"2","total":"4"},[{"id":"IBD","iso2code":"XF","value":"IBRD"},{"id":"IDB","iso2code":"XH","value":"Blend"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 23 Jan 2021 04:32:21 GMT
    status: 200 OK
    code: 200
    duration: ""
