---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/topics?format=json&page=1&per_page=2
    method: GET
  response:
    body: '[{"page":1,"pages":11,"per_page":"2","total":21},[{"id":"1","value":"Agriculture
      & Rural Development","sourceNote":"For the 70 percent of the world''s poor who
      live in rural areas, agriculture is the main source of income and employment.
      But depletion and degradation of land and water pose serious challenges to producing
      enough food and other agricultural products to sustain livelihoods here and
      meet the needs of urban populations. Data presented here include measures of
      agricultural inputs, outputs, and productivity compiled by the UN''s Food and
      Agriculture Organization."},{"id":"2","value":"Aid Effectiveness","sourceNote":"Aid
      effectiveness is the impact that aid has in reducing poverty and inequality,
      increasing growth, building capacity, and accelerating achievement of the Millennium
      Development Goals set by the international community. Indicators here cover
      aid received as well as progress in reducing poverty and improving education,
      health, and other measures of human welfare."}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 04:35:13 GMT
    status: 200 OK
    code: 200
    duration: ""
