---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/JPN;USA/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?footnote=y&format=json&source=2
    method: GET
  response:
    body: '[{"page":1,"pages":5,"per_page":50,"total":244,"sourceid":null,"sourcename":null,"lastupdated":"2021-05-25"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2020","value":null,"scale":"","unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2019","value":5081769542379.77,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2018","value":4954806619995.19,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"G[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/JPN;USA/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?date=2018%3A2019&footnote=y&format=json&page=1&per_page=2&source=2
    method: GET
  response:
    body: '[{"page":1,"pages":4,"per_page":2,"total":8,"sourceid":null,"sourcename":null,"lastupdated":"2021-05-25"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2019","value":5081769542379.77,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
      (current US$)"},"country":{"id":"JP","value":"Japan"},"countryiso3code":"JPN","date":"2018","value":4954806619995.19,"unit":"","obs_status":"","decimal":0,"footnote":""}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Jun 2021 02:49:18 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/ABCDEFG;HIJKLM/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?footnote=y&format=json&source=2
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Jun 2021 02:49:18 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/JPN;USA/indicators/INVALID.INDICATOR.ID;SP.POP.TOTL?footnote=y&format=json&source=2
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"},{"id":"120","key":"Invalid value","value":"The provided
      parameter value is not valid"},{"id":"120","key":"Invalid value","value":"The
      provided parameter value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Jun 2021 02:49:18 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.worldbank.org/v2/countries/JPN;USA/indicators/NY.GDP.MKTP.CD;SP.POP.TOTL?footnote=y&format=json&source=invalid_source_id
    method: GET
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\r\n\x3C\x21\x44\x4F\x43\x54\x59\x50\x45\x20\x68\x74\x6D\x6C\x20\x50\x55\x42\x4C\x49\x43\x20\"\x2D\x2F\x2F\x57\x33\x43\[...]
