---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/sources/11?format=json
    method: GET
  response:
    body: '[{"page":"1","pages":"1","per_page":"50","total":"1"},[{"id":"11","lastupdated":"2013-02-22","name":"Africa
      Development Indicators","code":"ADI","description":"","url":"","dataavailability":"Y","metadataavailability":"Y","concepts":"3"}]]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 04:35:13 GMT
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://api.worldbank.org/v2/sources/ABCDEFG?format=json
    method: GET
  response:
    body: '[{"message":[{"id":"120","key":"Invalid value","value":"The provided parameter
      value is not valid"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 04:35:13 GMT
    status: 200 OK
    code: 200
    duration: ""
